page-blog {

 .top-container{
    background-color:#134F7F;
    height: 106%;
    margin-top: -6%;
    padding-top: 10%;
    text-align: center;
  }

h1{
   color:#0DE858;
}

  @media (min-width:992px) {
  .header-container{
    display:none;
  }
  }

}
