<!--
  Generated template for the Bravecam page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<!--<ion-header class="sub-page">
  <ion-navbar>
    <ion-title>Brave Cam</ion-title>
  </ion-navbar>
</ion-header>
-->
<ion-content class="sub-page">
  <ion-slides style="height:70vh; width:100vw;" pager="true">
    <ion-slide style="height:100%; width:100%;">
        <div class="backg"></div>
  </ion-slide>
   <ion-slide style="height:100%; width:100%;">
        <div class="backg"></div>
  </ion-slide>
   <ion-slide style="height:100%; width:100%;">
        <div class="backg"></div>
  </ion-slide>
  </ion-slides>
  <ion-toolbar>
     <ion-navbar>
    <ion-title>Brave Cam</ion-title>
  </ion-navbar>
  </ion-toolbar>
  <div style="height:90.5vh">

    <div *ngIf="!deutsch">
  <h1>Key Responsibilities {{this.deutsch}}</h1>
  <p>Concept Development | UX Design</p>
  <h1>The Experience</h1>
  <p>Kop Berlin is a non-profit that helps victims of police violence. To get a better understanding of the project I talked to the counselors who knew the victims. I conceptualised new features as well as refined the requested ones. I also designed the interactions and there UI. The prototype was made using Adobe comp and flinto lite. This will be an app which people would use in emergencies, I designed the experience accordingly. I worked closely with android developers explaining them who the users were. Design assets were transferred and I also suggested how they could improve the experience using inbuilt features of android like the immersive full-screen mode. </p>
    </div>

     <div *ngIf="deutsch">
  <h1>Hauptverantwortlichkeiten</h1>
  <p>Konzeptentwicklung | UX Design</p>
  <h1>Die Erfahrung</h1>
  <p>Kop Berlin ist ein Non-Profit, das Opfern von Gewalt der Polizei hilft. Um ein besseres Verständnis für das Projekt zu erhalten, sprach ich mit den Beratern, die die Opfer kannten. Ich habe neue Funktionen entworfen und die angeforderten verfeinert. Ich habe auch die Interaktionen und dort UI entworfen. Der Prototyp wurde mit Adobe Comp und Flinto Lite gemacht. Dies wird eine App sein, die die Leute in Notfällen nutzen würden, ich habe die Erfahrung entsprechend entworfen. Ich arbeitete eng mit Android-Entwickler, die ihnen erklärten, wer die Benutzer waren. Design-Assets wurden übertragen und ich auch vorgeschlagen, wie sie die Erfahrung mit eingebauten Features von Android wie die immersive Vollbild-Modus verbessern könnte.</p>
    </div>

    
     </div></ion-content>
<!--
<ion-footer class="sub-page">
  <ion-toolbar>
 <ion-buttons start>
      <button ion-button icon-left color="royal" navPop>
     <ion-icon name="arrow-back"></ion-icon>
     Back
      </button>
    </ion-buttons>
    <div class="footer-button-container">
        <button ion-button icon-right class="big-right-button" class="center same-size-buttons" margin-right (click)="newTab('https://brittikbasu.github.io/Brave Cam_16/#/home')">
    Github Repo  <ion-icon name="open"></ion-icon>
      </button>

        <button ion-button icon-right class="big-right-button" class="center same-size-buttons" (click)="newTab('https://brittikbasu.github.io/Brave Cam_16/#/home')">
    Test Prototype  <ion-icon name="open"></ion-icon>
      </button>

    </div>
  </ion-toolbar>
</ion-footer>
-->

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-42932342-1', 'auto');
  ga('send', 'pageview');

</script>