page-bravecam {
  .backg{
    height:100vh;
   // margin-top: -3.5vh;
    background: url("../assets/img/safe-app-phone.jpg") no-repeat;
    background-size: 100% auto;
  }
/*

.scroll-content{
background-color: color($colors, 'secondary');
}

.intro-container {
    height: 39.5vh;
    width: 100%;
    background: color($colors, primary);
    z-index: 0;
    text-align: center;
   // color: color($colors, purpledark);
  }

  .more-container {
    height: 100%;
    width: 100%;
    z-index: 100;
    margin-top: -20px;
    background: color($colors, 'dark');
    text-align: center;
   // color: color($colors, purplelight);
  }
    h1 {
    font-family: 'Jura', serif;
    font-size: 1.68em;
    letter-spacing: 2px;
  }
  */
}



