page-contact {
  
  .contact-header{
  }
  h1 {
    color: #49E80D;
  }
  email-text {
    color: green;
  }
  .button-ios,
  .button-md {
    min-width: 25vw;
    height: 6.7vh;
    letter-spacing: 2px;
  }
  @media (min-width:992px) {
    .header-container {
      display: none;
    }
  }
  
  html {
    margin: 0;
    height: 100%;
    overflow: hidden;
  }
  iframe {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    border: 0;
    overflow: hidden;
  }

  
}
