page-home {
 
  .secondary-bright {
    color: color($colors, secondary-bright);
  }
  .button-ios {
    @include mq(iphone5) {
      height: 2.5em;
    }
  }
  .swiper-container-vertical>.swiper-pagination-bullets {
    right: 3vw;
    top: 50%;
    -webkit-transform: translate3d(0px, -50%, 0);
    transform: translate3d(0px, -50%, 0);
  }

  .toolbar-background {
    background: transparent;
  } // =============================================== slides //
  .scroll-content {
    @include mq(laptop) {
      overflow: hidden;
    }
  }
  ion-slides {
    @include mq(laptop) {
      //margin-top: -$header-height*0.53;
      //height: ($header-height*5.7);
    }
  }
  .slide-footer {
    margin-bottom: $header-height*0.8;
    @include mq(laptop) {
      margin-bottom: $header-height*0.35;
    }
  }
  .slide-about {
    // @include slide-up-button;
    //background: color($colors, 'primary');
    //margin-top: -$header-height*1.2;
    background-color: color($colors, primary);
    p {
      color: color($colors, secondary-text);
    }
    @include mq(laptop) {
      //background: color($colors, 'dark');
      //margin-top: 0;
    }
  }
  .slide-skills {
    // @include slide-up-button;
    p {
      color: color($colors, primary-dark);
    }
    @include mq(mobile) {
      @include next-slide-button($border-color: primary-dark, $text-color:secondary-text, $bg-color:primary);
    }
    @include button-blur-bg(rgba(color($colors, tertiary), 0.55)); //background: color($colors, 'primary');
    //margin-x: -$header-height*1.2;
    background-color: #C9100A;
    @include mq(laptop) {
      //background: color($colors, 'dark');
     // margin-top: 0;
    }
  }
  .slide-work {

    @include mq(mobile) {
      @include next-slide-button(primary-dark, secondary-text, secondary);
    }

    @include slide-up-button;
    @include button-blur-bg(rgba(color($colors, primary-dark), 0.55));
    background: color($colors, 'primary-dark');
  }
  .slide-contact {
    .social-buttons{
 .button-ios {
    @include mq(iphone5) {
      height: 3.9em;
    }
  }
    }
   
     p {
      color: color($colors, primary-dark);
    }
    background: color($colors, 'secondary');
    @include slide-up-button {
      // background-color: rgba(color($colors, primary-dark), 0.25);
    }
    .button-inner {
      color: color($colors, secondary-text);
    }
  } //---------------------------------------------------------------
 

 .swiper-pagination-progress .swiper-pagination-progressbar{
   background-color:  color($colors, secondary-bright);
 }

 .swiper-container-horizontal > .swiper-pagination-progress {
    top: 20.2vh;
    height: 4px;

@include mq(laptop){
      top: 15.2vh;

}
 }
 .swiper-button-prev{
   display:none;
@include mq(laptop){
  display: inherit;
}
 }

 .swiper-button-next{
      display:none;

@include mq(laptop){
  display: inherit;
}
 }

 .__web-inspector-hide-shortcut__, .__web-inspector-hide-shortcut__ *, .__web-inspector-hidebefore-shortcut__::before, .__web-inspector-hideafter-shortcut__::after{
  visibility:visible;
}

.tabbar {
  @include mq(laptop) {
   margin-top:3.8vh;
  }
}

.header-forward-button{
  position: absolute;
  top:19%;
  right:-2vw;
  color: color($colors, secondary-text);
  //padding-left:2vw;
  width:18vw;
  text-align: left;
  padding-right:6vw;
  font-family: $text;
  //position: inline-block;
}

.header-back-button{
  position: absolute;
  top:19%;
  left:-2vw;
  color: color($colors, secondary-text);
    width:8vw;
      padding-left:3vw;


}

//================ header buttons ==================//
.header-buttons{
  @include show-only-on(laptop);
}


.deutsch-toggle{
    font-family: "Exo 2", "Helvetica Neue", sans-serif;
  @include mq(laptop){

display: inline-block;
    position: absolute;
    width:165px;

   background: transparent;
   margin-left: 66vw;
top:0    ;
    padding-top: 5.5vh;

    .label{
      color: color($colors, secondary-light);
    }

  }

    
    @include mq(mobile){
      display:none;
     /* width: 146px;
    margin-left: 34.5vw; // android
    top: 8.4vh;
    */
    }

}


}
