page-chaldiye {
.scroll-content{
        background: color($colors, secondary-dark);
}

ion-footer{
        background: color($colors, primary-dark)
}

.bar-button-default, .bar-button-default.bar-button-default, .bar-button-clear-default{
//background: color($colors, 'light');
color: color($colors, 'secondary');
min-width:20vw;
width:30vw;

}

.big-right-button{}

ion-icon {
    color: color($colors, bright);
}

h1{
        text-align: center;
}
p {
    overflow: inherit;
    margin: 0 0 2px;
    font-size: 1.3em;
    line-height: normal;
    text-overflow: inherit;
    color: #3BC8E7;
    text-align: center;
    letter-spacing: 1.7px;
    font-family: 'Exo 2', serif;
    margin-bottom: 3.7vh;
    /* margin-left: 3vw; */
    width: 93vw;
    /* margin-right: 3vw; */
}

.center {
margin-left: auto;
margin-right: auto;
display: block;
}



}


