page-chaldiye {
.scroll-content{
        background: color($colors, secondary-dark);
}

ion-footer{
        background: color($colors, primary-dark)
}

.bar-button-default, .bar-button-default.bar-button-default, .bar-button-clear-default{
//background: color($colors, 'light');
color: color($colors, 'secondary');
min-width:20vw;
/*
margin-left: 8px;
margin-right:8px;
    margin-top: 8px;
        width: 60px;
*/
height: 50px;
}

.big-right-button{
        width:73.5vw;
}

ion-icon {
    font-size: 1.4em;
    line-height: .67;
    pointer-events: none;
    padding-left: .4em;
    color: color($colors, bright);
}
}


