// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.





// My Styles **************************

 .header-container {
    height: 15.8vh;
    width: 100%;
    /*width: 88.2%;*/
    background: white;
    z-index: 10;
  }
  .me-container {
    height: 100%;
    /*original height 66%*/
    width: 282px;
    /*original width:88.3%;*/
    width: 88.3%;
    margin: 0 auto;
  }

  //xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx



  /******************* changed ionic defaults *********************/
  .item ion-avatar img {
    width: 78px;
    height: 78px;
    width: 19vw;
    height: 19vw;
    border-radius: 50%;
    overflow: hidden;
    border: solid 3px;
    border-color: color($colors, primary);
  }
  .item {
    padding-left: 0;
  }
  .item.item-block .item-inner {
    border-bottom: none;
  }
  .item.item-block .item-inner {
    padding-right: 0px;
  }
  .label {
    margin: 0 0 0 0;
  }
  .item h2 {
    margin: 0 0 2px;
    font-size: 1.7em;
    font-weight: normal;
    font-family: 'Sarina', serif;
    letter-spacing: 0px;
    margin-left: 6%;
  }
  .item p {
    overflow: inherit;
    margin: 0 0 2px;
    font-size: 0.85em;
    line-height: normal;
    text-overflow: inherit;
    color: #8e9093;
    text-align: left;
    letter-spacing: 3px;
    font-family: 'Jura', serif;
  }
  @media (min-width:319px) and (max-width:374px) {
    /*iphone 5*/
    .item h2 {
      font-size: 1.3em;
    }
    .item p {
    font-size: 0.558em;
    }
  }
  @media (min-width:374px) and (max-width:410px) {
    /*iphone 6*/
    .item h2 {
      font-size: 1.5em;
    }
    .item p {
    font-size: 0.735em;
    }
  }
  .item ion-avatar[item-left],
  .item ion-thumbnail[item-left] {
    margin-right: 10px;
    margin-left: 1px;
  }

  
.tabs .tabbar{
  background: color($colors, dark);
}

.tabs .tab-button[aria-selected=true] .tab-button-icon {
    color: color($colors, danger);
}

.tabs .tab-button[aria-selected=true] {
    color: #3BC8E7;
}

.tabs-ios .tab-button-icon {
    color: rgba(60, 60, 60, 0.7);
}





.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}


@-webkit-keyframes fadeOutLeft {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}

@keyframes fadeOutLeft {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}

.fadeOutLeft {
  -webkit-animation-name: fadeOutLeft;
  animation-name: fadeOutLeft;
}

@-webkit-keyframes fadeOutLeftBig {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    -webkit-transform: translate3d(-2000px, 0, 0);
    transform: translate3d(-2000px, 0, 0);
  }
}