// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
*{
  box-sizing: inherit;
}


//CTA button.button-ios-primary {
.button-md-primary {
    font-family: 'Exo 2';
    font-size: 1.2em;
    height: 3.2em;
    letter-spacing: 1px;
     height:7.5vh;
    width:27vw;
}
.button-ios-primary{
      font-family: 'Exo 2';
    letter-spacing: 1px;
    height:7.5vh;
    width:27vw;
}
// Sub Pages Styles *******************


.sub-page-header{
height:23vh;
}

.bar-button-default, .bar-button-default.bar-button-default, .bar-button-clear-default{
background: color($colors, 'light');
color: color($colors, 'primary');
margin-left: 8px;
    margin-top: 8px;
        width: 60px;

}

.back-button-text-ios {
    letter-spacing: -.01em;
    color: color($colors, 'secondary');
}

.header-background{
    height:100%;
    width:100%;
    background-size: cover;
    margin-top: -52px;
}

.toolbar-background {
  background-color:transparent;
}




//xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx



// My Styles **************************

.top-container {
    height: 78vh;
    width: 100%;
    text-align: center;
    padding-top: 1.3vh;
  }

 .header-container {
    height: 16vh;
    width: 100%;
    /*width: 88.2%;*/
    background: color($colors, 'light');
    z-index: 10;
    padding-top:0.5vh;
  }
  .me-container {
    height: 100%;
    /*original height 66%*/
    width: 282px;
    /*original width:88.3%;*/
    width: 88.3%;
    margin: 0 auto;
  }

  h1 {
    font-family: 'Pacifico', serif;
    font-size: 1.4em;
    letter-spacing: 1px;
    color: #1BFF29;
  }

p {
    overflow: inherit;
    margin: 0 0 2px;
    font-size: 1.5em;
    line-height: normal;
    text-overflow: inherit;
    color: color($colors, 'secondary');
    text-align: center;
    letter-spacing: 1.7px;
    font-family: 'Exo 2', serif;
    margin-bottom: 3.7vh;
    margin-left: 3vw;
    margin-right: 3vw;
  }

  //xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx



  /******************* changed ionic defaults *********************/
  .item ion-avatar img {
    width: 78px;
    height: 78px;
    width: 19vw;
    height: 19vw;
    border-radius: 50%;
    overflow: hidden;
    border: solid 3px;
    border-color: color($colors, primary);
  }
  .item {
    padding-left: 0;
  }
  .item.item-block .item-inner {
    border-bottom: none;
  }
  .item.item-block .item-inner {
    padding-right: 0px;
  }
  .label {
    margin: 0 0 0 0;
  }
  .item h2 {
    margin: 0 0 2px;
    font-size: 1.7em;
    font-weight: normal;
    font-family: 'Sarina', serif;
    letter-spacing: 0px;
    margin-left: 6%;
        color: color($colors, 'primary');
  }
  .item p {
    overflow: inherit;
    margin: 0 0 2px;
    font-size: 0.85em;
    line-height: normal;
    text-overflow: inherit;
    color: color($colors, 'secondary');
    text-align: left;
    letter-spacing: 3px;
    font-family: 'Jura', serif;
  }
  @media (min-width:319px) and (max-width:374px) {
    /*iphone 5*/
    .item h2 {
      font-size: 1.3em;
    }
    .item p {
    font-size: 0.558em;
    }

    p{
          font-size: 1.11em;
    }
    h1{
                font-size: 1.11em;
    }
  }
  @media (min-width:374px) and (max-width:410px) {
    /*iphone 6*/
    .item h2 {
      font-size: 1.5em;
    }
    .item p {
    font-size: 0.735em;
    }

  p{
          font-size: 1.32em;
    }
    h1{
                font-size: 1.32em;
    }

  }



  .item ion-avatar[item-left],
  .item ion-thumbnail[item-left] {
    margin-right: 10px;
    margin-left: 1px;
  }

  
.tabs .tabbar{
  background-color: color($colors, dark);
  box-shadow: 0 4px 12px -4px color($colors, 'primary');
  margin-top:0px;

}
.tabs[tabsPlacement=top] .tabbar {
margin-top:-1px;
}

.tabs .tab-button[aria-selected=true] .tab-button-icon {
    color: color($colors, 'primary');
}

.tabs .tab-button[aria-selected=true] {
    color: color($colors, 'secondary');
}

.tabs-ios .tab-button-icon {
    color: rgba(60, 60, 60, 0.7);
}





.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}


@-webkit-keyframes fadeOutLeft {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}

@keyframes fadeOutLeft {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}

.fadeOutLeft {
  -webkit-animation-name: fadeOutLeft;
  animation-name: fadeOutLeft;
}

@-webkit-keyframes fadeOutLeftBig {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    -webkit-transform: translate3d(-2000px, 0, 0);
    transform: translate3d(-2000px, 0, 0);
  }
}

/*
@media(min-width:604px){
  page-home .card {
    height: 30vh;
    margin-top: 5vh;
    width: 44vw;
    display: inline-block;
}

}

*/


//header styles************************************************



  .header-container {
    background: color($colors, 'dark');
  }
 
 //ionic defaults
  .item {
    background: color($colors, 'dark');
  }


//xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx