page-skills {
  /*.header-container {
    height: 20.2%;
    width: 100%;
    //background: color($colors, 'dark');
    z-index: 10;
    padding-top: 0.5%;
    box-shadow: 0 4px 12px -4px color($colors, 'secondary');
    @media(min-width:600px){
          height: $header-height;
    }
  }
  */
  @include slide-container($scroll: yes){
   @include mq(laptop){
      height: 70vh;
      margin-top: -15vh;
   } 
  };

  h2 {
    font-size: 1.7em;
    color: color($colors, primary-text-2);
    font-family: $text;
  }
  h3 {
    color: color($colors, primary-2);
    font-family: $text;
  }
  hr.me {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(224, 224, 224, 0.75), rgba(124, 23, 3, 0));
  }
}
